@font-face {
	font-family: 'Special Elite';
	src: url("fonts/SpecialElite.ttf");
	font-family: 'Pompiere-Regular';
  	src: url("fonts/Pompiere-Regular.ttf");
}


body {
	position: relative;
}

form {
	position: relative;
}

.form-group {
	width: 50%;
	padding: 
		padding-top: 200px
		padding-right: 200px
		padding-bottom: 200px
		padding-left: 200px;
	float: center;
	font-family: 'Pompiere-Regular';
  	src: url("fonts/Pompiere-Regular.ttf");
}



.btn btn-default

